<form
  class="form-horizontal"
  autocomplete="off"
  #createCategoryForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewCategory' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="categoryName">
        {{ "Category Name" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="categoryName"
          id="categoryName"
          minlength="2"
          required
          [(ngModel)]="category.categoryName"
          #categoryNameModel="ngModel"
          #categoryNameEl
        />
        <abp-validation-summary
          [control]="categoryNameModel"
          [controlEl]="categoryNameEl"
        ></abp-validation-summary>
      </div>
    </div>

      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="categoryDes">
          {{ "Description" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="categoryDes"
            id="categoryDes"
            minlength="2"
            required
            [(ngModel)]="category.description"
            #categoryDesModel="ngModel"
            #categoryDesEl
          />
          <abp-validation-summary
            [control]="categoryDesModel"
            [controlEl]="categoryDesEl"
          ></abp-validation-summary>
        </div>
      </div>
    
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createCategoryForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>